
    <header id="home">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span>Home</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#about">
                    <span>About</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#my-projects">
                    <span>My projects</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">
                    <span>Contact</span>
                </a>
            </li>
        </ul>
    </header>

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-4 about-right">ffffffffff</div>
                <div class="col-8">
                    <h2>About me</h2>
                    <p>Commodo mollit sit velit aliqua duis exercitation minim non.
                     Amet ex occaecat occaecat anim nostrud. Et et 
                     exercitation sit fugiat culpa nisi id amet.</p>
                     <p>Commodo mollit sit velit aliqua duis exercitation minim non.
                     Amet ex occaecat occaecat anim nostrud. Et et 
                     exercitation sit fugiat culpa nisi id amet.</p></div>

            </div>
            <div>
                <h3>Technologies I've learned</h3>
                <div class="container">
                    <div class="row">
                        <h4 class="col-2 div-logo">Front End: </h4>
                        <div class="col-1 div-logo">
                            <img src="images/html.png" class="logo">
                        </div>
                        <div class="col-1 div-logo">
                            <img src="images/css.png" class="logo">
                        </div>
                        <div class="col-1 div-logo">
                            <img src="images/js.png" class="logo">
                        </div>
                        <div class="col-1 div-logo">
                            <img src="images/jquery.png" class="logo">
                        </div>
                        <div class="col-1 div-logo">
                            <img src="images/bootstrap.png" class="logo">
                        </div>
                        <div class="col-1 div-logo">
                            <img src="images/angular.png" class="logo">
                        </div>
                        <div class="col-1 div-logo">
                            <img src="images/ts.png" class="logo">
                        </div>
                        <div class="col-1  bulma-div">
                            <img src="images/bulma.png" class=" bulma">
                        </div>
                    </div>
                    <div class="row">
                        <h4 class="col-2 div-logob">Back End: </h4>
                        <div class="col-2 div-logob">
                            <img src="images/mongodb.png" class="logob">
                        </div>
                        <div class="col-2 div-logob">
                            <img src="images/express.png" class="logob">
                        </div>
                        <div class="col-2 div-logob">
                            <img src="images/nodejs.png" class="logob">
                        </div>
                        <div class="col-2 div-logob">
                            <img src="images/mongoose.png" class="logob">
                        </div>
                    </div>
                    <div class="row">
                        <h4 class="col-2 div-logoo">Other: </h4>
                        <div class="col-2 div-logoo">
                            <img src="images/gihub.png" class="logoo">
                        </div>
                        <div class="col-2 div-logoo">
                            <img src="images/git.png" class="logoo">
                        </div>
                        <div class="col-2 div-logoo">
                            <img src="images/npm.png" class="logoo">
                        </div>
                        <div class="col-2 div-logoo">
                            <img src="images/jasmine.png" class="logoo">
                        </div>
                        <div class="col-2 div-logoo">
                            <img src="images/heroku.png" class="logoo">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section id="my-projects">
        <div class="for-opacity">
            <h1 class="margin"><span class="proj-title">My projects</span></h1>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-4 " >
                        <div class="my-container">
                            <img src="images/project1.png" class="project1 image" >
                        <div class="middle">
                            <div class="btn-thumb"><a href="https://kucharskap.github.io/maze-game/" target="_blank">Visit</a></div>
                        </div>
                        </div>
                        
                        {{!-- <div class="proj-title">Maze Game</div> --}}
                    </div>
                    <div class="col-4 my-container"> 
                        <img src="images/project2.png" class="project2 image" >
                        <div class="middle">
                            <div class="btn-thumb"><a href="https://happy2help.herokuapp.com/" target="_blank">Visit</a></div>
                        </div>
                        </div>
                    <div class="col-4 my-container"> 
                        <img src="images/project3.png" class="project3 image" >
                        <div class="middle">
                            <div class="btn-thumb"><a href="http://www.my-study-buddy.co" target="_blank">Visit</a></div>
                        </div>
                    </div>
                </div>   
                </div>
            </div>
        </div>
    </section>
    <footer id="contact">
        <div class="container">
            <div class="row">
                <div class="col-5 contact-left">
                    <h4> More about me on: </h4>
                    <div class="row">
                        <div class="col div-logo">
                            <a href="http://www.linkedin.com/in/patrycja-kucharska-87a756161" target="_blank">
                            <img src="images/li.png" class="logo">
                            </a>
                        </div>
                        {{!-- <div class="col div-logo">
                            <img src="images/fb.png" class="logo">
                        </div> --}}
                        <div class="col div-logo">
                            <a href="https://github.com/kucharskap" target="_blank">
                            <img src="images/gihub.png" class="logo">
                            </a>
                        </div>
                    </div>
                    <h4>or</h4>
                    <div class="row">
                        <button class="btn btn-success">My resume</button>
                    </div>
                </div>
                <div class="col-7 contact-right">
                    <h3>Contact me directly </h3>
                    <form class="form-group" method="POST" action="/process-message">
                        <label>E-mail:</label>
                            <input type="email" name="senderEmail" class="form-control" placeholder="your@email.com">
                        <br>
                        <label>Message:</label>
                            <textarea class="form-control" rows="6" placeholder="Message..." name="message"></textarea>
                        <br>
                        <button class="btn btn-outline-secondary">Send</button>
                    </form>
                </div>
            </div>
        </div>
    
    </footer>
