
    <header id="home">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span>Home</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#about">
                    <span>About</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#my-projects">
                    <span>My projects</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">
                    <span>Contact</span>
                </a>
            </li>
        </ul>

        <div class="intro">
        <h1 class="name">Patrycja Kucharska</h1>
        <h3 class="under-name">Full Stack Web Developer</h3>
        </div>
    </header>

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-4 about-left"><img src="images/img.jpg"></div>
                <div class="col-8 about-right">
                    <h2>About me</h2>
                    <p>Hi, I'm Patrycja. I'm a junior full stack web developer based in Paris, skilled in MEAN stack, but curious about and happy
                        to explore other programming technologies.</p>
                    <p>Recently I've graduated from Ironhack- 9 weeks intensive web development bootcamp, where I had a chance of not only learning full
                        stack technologies, but also team programming, best practices and test driven development.
                    </p>
                    <p>I'm a native Polish language speaker fluent in English and 
                        with French language skills on an intermediate level.</p>
                    <p>Currently I'm looking for full stack or backend oriented job opportunities in Paris.</p>
                </div>
            </div>
            
            <div class="technologies">
                <h3>Technologies I've learned</h3>
                <div class="container">
                    <div class="row">
                        <h4 class="col-2 div-logo">Front End: </h4>
                        <span class="div-logo">
                            <img src="images/html.png" class="logo">
                        </span>
                        <span class="div-logo">
                            <img src="images/css.png" class="logo">
                        </span>
                        <span class="div-logo">
                            <img src="images/js.png" class="logo">
                        </span>
                        <span class="div-logo">
                            <img src="images/jquery.png" class="logo">
                        </span>
                        <span class="div-logo">
                            <img src="images/bootstrap.png" class="logo">
                        </span>
                        <span class="div-logo">
                            <img src="images/angular.png" class="logo">
                        </span>
                        <span class="div-logo">
                            <img src="images/ts.png" class="logo">
                        </span>
                        <span class="div-logo">
                            <img src="images/bulma.png" class=" logo">
                        </span>
                    </div>
                    <div class="row">
                        <h4 class="col-2 div-logo">Back End: </h4>
                        <span class="div-logoc">
                            <img src="images/mongodb.png" class="logob">
                        </span>
                        <span class="div-logoc">
                            <img src="images/nodejs.png" class="logob">
                        </span>
                        <span class="div-logoe">
                            <img src="images/express.png" class="logob">
                        </span>
                        <span class="div-logoe">
                            <img src="images/mongoose.png" class="logob">
                        </span>
                    </div>
                    <div class="row">
                        <h4 class="col-2 div-logo">Other: </h4>
                        <span class="div-logos">
                            <img src="images/gihub.png" class="logo">
                        </span>
                        <span class="div-logos">
                            <img src="images/git.gif" class="logo">
                        </span>
                        <span class="div-logos">
                            <img src="images/npm.png" class="logo">
                        </span>
                        <span class="div-logos">
                            <img src="images/jasmine.gif" class="logo">
                        </span>
                        <span class="div-logos">
                            <img src="images/heroku.png" class="logo">
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section id="my-projects">
        <div class="for-opacity">
            <h1 class="margin"><span class="proj-title">What I've built so far:</span></h1>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-4 " >
                        <div class="my-container">
                            <img src="images/project1.png" class="project1 image" >
                        <div class="middle">
                            <div class="btn btn-thumb"><a href="https://kucharskap.github.io/maze-game/" target="_blank">Visit</a></div>
                        </div>
                        </div>
                        <span class="proj-title"><i>Description soon</i></span>
                    </div>
                    <div class="col-4 my-container"> 
                        <img src="images/project2.png" class="project2 image" >
                        <div class="middle">
                            <div class="btn btn-thumb"><a href="https://happy2help.herokuapp.com/" target="_blank">Visit</a></div>
                        </div>
                        <span class="proj-title"><i>Description soon</i></span>
                    </div>
                    <div class="col-4 my-container"> 
                        <img src="images/project3.png" class="project3 image" >
                        <div class="middle">
                            <div class="btn btn-thumb"><a href="http://www.my-study-buddy.co" target="_blank">Visit</a></div>
                        </div>
                        <span class="proj-title"><i>Description soon</i></span>
                    </div>
                </div>   
                </div>
            </div>
        </div>
    </section>
    <footer id="contact">
        <div class="container">
            <div class="row">
                <div class="col-5 contact-left">
                    <h4> More about me on: </h4>
                    <div class="row">
                        <div class="col div-logo">
                            <a href="http://www.linkedin.com/in/patrycja-kucharska-87a756161" target="_blank">
                            <img src="images/li.png" class="logo">
                            </a>
                        </div>
                        <div class="col div-logo">
                            <a href="https://github.com/kucharskap" target="_blank">
                            <img src="images/gihub.png" class="logo">
                            </a>
                        </div>
                    </div>
                    <h4>or</h4>
                    <div class="to-center">
                        <button class="btn btn-lg btn-success"><a href="/my-resume" target="_blank">My resume</a></button>
                    </div>
                </div>
                <div class="col-7 contact-right">
                    <h3>Contact me directly </h3>
                    <form class="form-group" method="POST" action="/process-message">
                        <label>E-mail:</label>
                            <input type="email" name="senderEmail" class="form-control" placeholder="your-email@example.com">
                        <br>
                        <label>Name:</label>
                            <input type="text" name="name" class="form-control" placeholder="Your or your company's name">
                        <br>
                        <label>Message:</label>
                            <textarea class="form-control" rows="6" placeholder="Message..." name="message"></textarea>
                        <br>
                        <button class="btn btn-outline-secondary">Send</button>
                    </form>
                </div>
            </div>
        </div>
    
    </footer>
