<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Patrycja Kucharska - Full Stack Web Developer </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
</head>

<body>

    <header id="home">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span>Home</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#about">
                    <span>About</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#my-projects">
                    <span>My projects</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">
                    <span>Contact</span>
                </a>
            </li>
        </ul>
    </header>

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-4 about-right">ffffffffff</div>
                <div class="col-8">
                    <h2>About me</h2>
                    <p>Commodo mollit sit velit aliqua duis exercitation minim non.
                     Amet ex occaecat occaecat anim nostrud. Et et 
                     exercitation sit fugiat culpa nisi id amet.</p>
                     <p>Commodo mollit sit velit aliqua duis exercitation minim non.
                     Amet ex occaecat occaecat anim nostrud. Et et 
                     exercitation sit fugiat culpa nisi id amet.</p></div>

            </div>
            <div>
                <h3>Technologies I've learned</h3>
                <div class="container">
                    <div class="row">
                        <h4 class="col-2 div-logo">Front End: </h4>
                        <div class="col-1 div-logo">
                            <img src="images/html.png" class="logo">
                        </div>
                        <div class="col-1 div-logo">
                            <img src="images/css.png" class="logo">
                        </div>
                        <div class="col-1 div-logo">
                            <img src="images/js.png" class="logo">
                        </div>
                        <div class="col-1 div-logo">
                            <img src="images/jquery.png" class="logo">
                        </div>
                        <div class="col-1 div-logo">
                            <img src="images/bootstrap.png" class="logo">
                        </div>
                        <div class="col-1 div-logo">
                            <img src="images/angular.png" class="logo">
                        </div>
                        <div class="col-1 div-logo">
                            <img src="images/ts.png" class="logo">
                        </div>
                        <div class="col-1  bulma-div">
                            <img src="images/bulma.png" class=" bulma">
                        </div>
                    </div>
                    <div class="row">
                        <h4 class="col-2 div-logob">Back End: </h4>
                        <div class="col-2 div-logob">
                            <img src="images/mongodb.png" class="logob">
                        </div>
                        <div class="col-2 div-logob">
                            <img src="images/express.png" class="logob">
                        </div>
                        <div class="col-2 div-logob">
                            <img src="images/nodejs.png" class="logob">
                        </div>
                        <div class="col-2 div-logob">
                            <img src="images/mongoose.png" class="logob">
                        </div>
                    </div>
                    <div class="row">
                        <h4 class="col-2 div-logoo">Other: </h4>
                        <div class="col-2 div-logoo">
                            <img src="images/gihub.png" class="logoo">
                        </div>
                        <div class="col-2 div-logoo">
                            <img src="images/git.png" class="logoo">
                        </div>
                        <div class="col-2 div-logoo">
                            <img src="images/npm.png" class="logoo">
                        </div>
                        <div class="col-2 div-logoo">
                            <img src="images/jasmine.png" class="logoo">
                        </div>
                        <div class="col-2 div-logoo">
                            <img src="images/heroku.png" class="logoo">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section id="my-projects">
        <div class="for-opacity">
            <h1>My projects</h1>
            <div class="container">
                <div></div>
                    <div class="project1"></div>
                    <div class="project2"></div>
                    <div class="project3"></div>
                </div>
            </div>
        </div>
    </section>
    <footer id="contact">
    </footer>
</body>

</html>