<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Patrycja Kucharska - Full Stack Web Developer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/style-projects.css' />
  </head>
  <body>
    <section class="body-big">
    {{{body}}}
    </section>
    {{!-- <section class="body-small">
      <div class="sorry">Sorry!
         I'm not adjusted to such small screens just yet! 
      </div>
    </section> --}}
    <script src='/javascripts/script.js'></script>
  </body>
</html>
