@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
  padding: 0;
  margin: 0;
  // font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  // font-family: "Ubuntu", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

//*******************ONLY LARGE SCREEN***********************

@media (min-width: 800px) {
  .contact-left {
    border-right: 1px solid grey;
  }
  .about-right {
    border-left: solid 1px grey;
  }
  .separate-xs {
    display: none;
  }
  .to-scroll {
    justify-content: center;
  }
}

//**********************ONLY FOR SMALL SCREEN********************
@media (max-width: 800px) {
  .contact-left {
    padding-bottom: 20px;
    margin-bottom: 20px;
    // border-bottom: 1px solid grey;
  }

  .about-left img {
    width: 40vw;
    height: auto;
  }
  .about-left {
    margin-bottom: 15px;
  }

  .name,
  .under-name {
    font-size: 5vw;
  }

  .nav-item {
    font-size: 2.5vw;
    padding-top: 1.2vh;
    padding-bottom: 1.2vh;
  }

  .separate-xs {
    width: 80%;
  }

  .project1,
  .project2,
  .project3 {
    margin-left: 0;
    margin-right: 0;
  }

  .for-opacity {
    padding: 0px;
  }

  .proj-title {
    font-size: 5vw;
  }

  .my-projects ul {
    padding: 0;
  }
}

// @media (min-width: 800px){
//   .body-small {
//     display: none;
//   }
// }

// @media (max-width: 800px) {
//   .body-big {
//     display: none;
//   }
//   .body-small {
//     background-image: url("../images/portfolio-background2.jpeg");
//     padding-top: 25vh;
//     margin: 0;
//     min-height: 100vh;
//     -moz-background-size: cover;
//     -webkit-background-size: cover;
//     -o-background-size: cover;
//   }
//   .sorry {
//     background-color: rgba(255, 255, 255, 0.45);
//     font-size: 4vh;
//     height: 50vh;
//     // margin-top: 25vh;
//     width: 50vw;
//     margin-left: 25vw;
//     padding: 5%;
//   }
// }
