<div class="container">
    <div class="row">
        <div class="col-lg-4 col-xs-12 about-left">
            <img src="images/img.jpg">
        </div>
        <div class="col-lg-8 col-xs-12 about-right">
            <h2>About me</h2>
            <p>Hi, I'm Patrycja. I'm a junior full stack web developer based in Paris, skilled in MEAN stack, but curious about
                and happy to explore other programming technologies.</p>
            <p>Recently I've graduated from Ironhack- 9 weeks intensive web development bootcamp, where I had a chance of not
                only learning full stack technologies, but also team programming, best practices and test driven development.
            </p>
            <p>I'm a native Polish language speaker fluent in English and with French language skills on an intermediate level.</p>
            <p>Currently I'm looking for full stack or backend or frontend job opportunities in Paris.</p>
        </div>
    </div>
    <hr class="separate-xs">
    <div class="technologies">
        <h3>Technologies I know:</h3>
        <div class="div-logo logo-titles">
            <h4>Front End: </h4>
        </div>
        <div class="to-scroll">
            <div class="div-logo">
                <img src="images/html.png" class="logo" alt="HTML5" title="HTML5">
            </div>
            <div class="div-logo">
                <img src="images/css.png" class="logo" alt="CSS3" title="CSS3">
            </div>
            <div class="div-logo">
                <img src="images/js.png" class="logo" alt="JavaScript (ES5 & ES6)" title="JavaScript (ES5 & ES6)">
            </div>
            <div class="div-logo">
                <img src="images/jquery.png" class="logo" alt="jQuery" title="jQuery">
            </div>
            <div class="div-logo">
                <img src="images/bootstrap.png" class="logo" alt="Bootstrap" title="Bootstrap">
            </div>
            <div class="div-logo">
                <img src="images/angular.png" class="logo" alt="Angular2+" title="Angular2+">
            </div>
            <div class="div-logo">
                <img src="images/ts.png" class="logo" alt="TypeScript" title="TypeScript">
            </div>
            <div class="div-logo">
                <img src="images/bulma.png" class="logo" alt="Bulma" title="Bulma">
            </div>
        </div>
        <hr class="between-logos">
        <div class="div-logo logo-titles">
            <h4>Back End: </h4>
        </div>
        <div class="to-scroll">
            <div class="div-logoc">
                <img src="images/mongodb.png" class="logob" alt="MongoDB" title="MongoDB">
            </div>
            <div class="div-logoc">
                <img src="images/nodejs.png" class="logob" alt="Node.js" title="Node.js">
            </div>
            <div class="div-logoe">
                <img src="images/express.png" class="logob" alt="Express.js" title="Express.js">
            </div>
            <div class="div-logoe">
                <img src="images/mongoose.png" class="logob" alt="Mongoose" title="Mongoose">
            </div>
        </div>
        <hr class="between-logos">
        <div class="div-logo logo-titles">
            <h4>Other: </h4>
        </div>
        <div class="to-scroll">
            <div class="div-logos">
                <img src="images/gihub.png" class="logo" alt="Github" title="Github">
            </div>
            <div class="div-logos">
                <img src="images/git.gif" class="logo" alt="Git" title="Git">
            </div>
            <div class="div-logos">
                <img src="images/npm.png" class="logo" alt="npm packages" title="npm packages">
            </div>
            <div class="div-logos">
                <img src="images/jasmine.gif" class="logo" alt="Jasmine" title="Jasmine">
            </div>
            <div class="div-logos">
                <img src="images/heroku.png" class="logo" alt="Heroku" title="Heroku">
            </div>
        </div>
    </div>
</div>