<div class="col-lg-7 col-xs-12 contact-right">
    {{#if error}}
    <h1>Error sending message</h1>
    {{/if}}
    {{#if success}}
    <h1>Success</h1>
    {{/if}}
    <h3>Contact me directly </h3>
    <form class="form-group" method="POST" action="/process-message">
        <label>E-mail:</label>
        <input type="email" name="senderEmail" class="form-control" placeholder="your-email@example.com">
        <br>
        <label>Name:</label>
        <input type="text" name="name" class="form-control" placeholder="Your or your company's name">
        <br>
        <label>Message:</label>
        <textarea class="form-control" rows="6" placeholder="Message..." name="message"></textarea>
        <br>
        <button class="btn btn-outline-secondary">Send</button>
    </form>
</div>