<div class="for-opacity">
    <h1 class="margin">
        <span class="proj-title">What I've built so far:</span>
    </h1>
    <div>
        <div class="container">
            <div class="row cont-descrtipion">
                <div class="col-lg-6 col-xs-12">
                    <img src="images/project1.png" class="project1 image">
                    <br>
                    <button class="btn btn-outline-dark">
                        <a href="https://kucharskap.github.io/maze-game/" target="_blank">Visit</a>
                    </button>
                </div>
                <div class="col-lg-6 col-xs-12">
                    {{!--
                    <span class="proj-title"> --}}
                        <h4>
                            <strong>
                                Browser Game - Maze
                            </strong>
                        </h4>
                        {{!-- </span> --}}
                    <ul>
                        <li>Frontend game application;</li>
                        <li>
                            <strong>Technologies:</strong>HTML, CSS, JavaScript, jQuery, canvas;
                        </li>
                        <li>
                            <strong>Description:</strong>a short maze game, which allows the user to move the square left and right,
                            but forces the user to turn the board 90 degrees, in order to move vertically;
                        </li>
                        <li>
                            chosen the 3rd best in the class.
                        </li>
                    </ul>
                </div>
            </div>
            {{!--
            <div class="middle">
                <div class="btn btn-thumb">

                </div>
            </div> --}}
        </div>
        <hr>
        <div class="container">
            <div class="row for-flex cont-descrtipion">
                <div class="col-lg-6 col-xs-12">
                    <img src="images/project2.png" class="project2 image">
                    <br>
                    <button class="btn btn-outline-dark">
                        <a href="https://happy2help.herokuapp.com/" target="_blank">Visit</a>
                    </button>
                </div>
                <div class="col-lg-6 col-xs-12">
                    {{!--
                    <span class="proj-title"> --}}
                        <h4>
                            <strong>

                                Happy2help- local recommendations page
                            </strong>
                        </h4>
                        {{!-- </span> --}}
                    <ul>
                        <li>
                            <strong>Technologies:</strong> Node.js, Express, MongoDB, Mongoose, Google Maps API and for the frontend
                            - Handlebars;
                        </li>
                        <li>
                            <strong>Features:</strong>register, login, edit of the user account; full CRUD experience with recommendations;
                            finding transportation; admin rights and restrictions; video upload.
                        </li>


                    </ul>
                </div>
            </div>
            {{!--
            <div class="middle">
                <div class="btn btn-thumb">
                </div>
            </div> --}}

        </div>
        <hr>
        <div class="container">
            <div class="row cont-descrtipion">
                <div class="col-lg-6 col-xs-12">
                    <img src="images/project3.png" class="project3 image">
                    <br>
                    <button class="btn btn-outline-dark">
                        <a href="http://www.my-study-buddy.co" target="_blank">Visit</a>
                    </button>
                </div>
                <div class="col-lg-6 col-xs-12">
                    {{!--
                    <span class="proj-title"> --}}
                        <h4>
                            <strong>
                                Study Buddy - study aid

                            </strong>
                        </h4>
                        {{!-- </span> --}}
                    <ul>
                        <li>
                            <strong>Technologies:</strong> Angular2+, MongoDB, Express.js, Mongoose, Bulma, multiple npm packages;
                        </li>
                        <li>
                            <strong>Purpose:</strong> educational app, letting a user interact in many ways with memory cards;
                        </li>
                        <li>
                            <strong>Technical features:</strong> register, login, full crud experience with cards, cathegories and
                            groups, within administrator rights;
                        </li>
                        <li>
                            <strong>Personal touches:</strong> user can see their own and group statistics, find a person with complementary
                            results and e-mail them from the app level;
                        </li>
                        <li>
                            Chosen as the 2nd best project in the class.
                        </li>
                    </ul>
                </div>
            </div>
            {{!--
            <div class="middle">
                <div class="btn btn-thumb">
                </div>
            </div> --}}

        </div>
    </div>
</div>